{{- $installZsh := promptBoolOnce . "installZsh" "Install zsh and set as default shell (y/n)" -}}
{{- $installStarship := promptBoolOnce . "installStarship" "Install starship prompt (y/n)" -}}
{{- $installSheldon := promptBoolOnce . "installSheldon" "Install sheldon plugin manager for zsh (y/n)" -}}
{{- $installCliTools := promptBoolOnce . "installCliTools" "Install CLI tools: fzf, eza, bat, fd, ripgrep, zoxide (y/n)" -}}
{{- $installDocker := promptBoolOnce . "installDocker" "Install Docker Engine + Compose (y/n)" -}}
{{- $installNvm := promptBoolOnce . "installNvm" "Install nvm + Node.js + npm-check-updates (y/n)" -}}
{{- $installUv := promptBoolOnce . "installUv" "Install uv Python package manager (y/n)" -}}
{{- $installTmux := promptBoolOnce . "installTmux" "Install tmux with plugins (y/n)" -}}
{{- $nexusUser := promptStringOnce . "nexusUser" "Nexus username (leave empty to skip)" -}}
{{- $nexusPassword := promptStringOnce . "nexusPassword" "Nexus password" -}}
{{- $installWezterm := false -}}
{{- $installVscode := false -}}
{{- $installObsidian := false -}}
{{- $installDbeaver := false -}}
{{- $installChatbox := false -}}
{{- $installGittyup := false -}}
{{- if or (eq (env "XDG_SESSION_TYPE") "wayland") (eq (env "XDG_SESSION_TYPE") "x11") (ne (env "DISPLAY") "") -}}
{{-   $installWezterm = promptBoolOnce . "installWezterm" "Install wezterm and set as default terminal (y/n)" -}}
{{-   $installVscode = promptBoolOnce . "installVscode" "Install VS Code (y/n)" -}}
{{-   $installObsidian = promptBoolOnce . "installObsidian" "Install Obsidian (y/n)" -}}
{{-   $installDbeaver = promptBoolOnce . "installDbeaver" "Install DBeaver CE (y/n)" -}}
{{-   $installChatbox = promptBoolOnce . "installChatbox" "Install ChatBox AI client (y/n)" -}}
{{-   $installGittyup = promptBoolOnce . "installGittyup" "Install Gittyup git GUI (y/n)" -}}
{{-   $installEclipse = promptBoolOnce . "installEclipse" "Install Eclipse IDE for RCP/RAP developers (y/n)" -}}
{{- end -}}

[data]
    installZsh = {{ $installZsh }}
    installStarship = {{ $installStarship }}
    installSheldon = {{ $installSheldon }}
    installCliTools = {{ $installCliTools }}
    installDocker = {{ $installDocker }}
    installNvm = {{ $installNvm }}
    installUv = {{ $installUv }}
    installTmux = {{ $installTmux }}
    installSdkman = {{ $installSdkman }}
    nexusUser = {{ $nexusUser | quote }}
    nexusPassword = {{ $nexusPassword | quote }}
    installWezterm = {{ $installWezterm }}
    installVscode = {{ $installVscode }}
    installObsidian = {{ $installObsidian }}
    installDbeaver = {{ $installDbeaver }}
    installChatbox = {{ $installChatbox }}
    installGittyup = {{ $installGittyup }}
    installEclipse = {{ $installEclipse }}
